.label, .check-box {
    -fx-font-family: "Noto Sans CJK TC Light";
    -fx-font-size: 100%;
}

.jfx-text-field, .jfx-password-field {
    -fx-font-family: "Lucida Grande";
    -fx-font-size: 13px;
}

.button {
    -fx-font-family: "Noto Sans CJK TC DemiLight";
    -fx-font-size: 13px;
}